{% extends 'base.html.twig' %}

{% block title %}Instant Zen{% endblock %}

{% block body %}
  <h1 class="d-flex justify-content-center color-title text-center">Bienvenue dans votre espace <br>
    Instant Zen</h1>
  <div class="container-fluid d-flex justify-content-center mt-5 text-center">
    <div class="col-5 d-flex flex-column">
      <h2 class="mx-auto">Instant Zen</h2>
        <p class="mx-auto mt-5 fs-5">Qui sommes-nous ?</p>
        <p class="mx-auto mt-3 fs-5">Instant Zen est une belle aventure initiée par deux profs de Yoga <br>
          Audrey et Anaïs</p>
        <p class="mx-auto mt-3 fs-5">Nous proposons à nos fidèles adhérent(e)s différents cours de yoga <br>
          ainsi que des moments bien-être</p>
    </div>
    <div class="col-5 d-flex flex-column ms-5">
      <img class="w-100" src="{{ asset('build/images/woman.jpg') }}" alt="woman">
    </div>
  </div>
{% endblock %}
