body {
  background-color: $secondary !important;
  min-height: 100vh;

h1, h2, h3 {
  font-family: 'Caveat', cursive;
}
.btn-color {
  color : $button-color;
}
.color-title {
  color: $color-title;
}
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

