<footer class="container-fluid bg-dark">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center ms-4 py-2">
            <p class="bg-dark text-white mx-2">© 2022 Instant Zen, Inc. Développé avec <i class="fas fa-heart"></i> par Stéphanie</p>
        </div>
    </div>
</footer>
