<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Instant Zen</a>
        <a class="nav-link active" aria-current="page" href="{{ path('home') }}">
            <img src="{{ asset('build/images/yoga.png') }}" width="40px" height="40px" alt="logo"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 w-100 d-flex justify-content-evenly">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-spa"></i>  Les cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-users"></i>  Les profs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle"></i>  Connectez-vous</a>
                </li>
            </ul>
        </div>
    </div>
</nav>