{% extends 'base.html.twig' %}

{% block title %}Instant Zen{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center text-center mt-5">Cours à Instant Zen</h1>
    <div class="container-fluid d-flex justify-content-center text-center mt-5">
        <table class="table table-striped table-bordered border-dark ms-5 me-5">
            <thead>
            <tr>
                <th class="col-2" scope="col">Cours</th>
                <th class="col-3" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for training in trainings %}
                <td>{{ training.name }} <a href="{{ path('training_show', { id:training.id }) }}">Voir détails</a></td>
                <td>{{ training.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
