{% extends 'base.html.twig' %}

{% block title %}Instant Zen{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center text-center mt-5">Cours à Instant Zen</h1>
    <div class="container-fluid d-flex justify-content-center text-center mt-5">
        <table class="table table-striped table-bordered border-dark ms-5 me-5">
            <thead>
            <tr>
                <th class="col-2 text-center" scope="col">Cours</th>
                <th class="col-3 text-center" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for training in trainings %}
                <td class="d-flex justify-content-between">{{ training.name }} <a href="{{ path('training_show', { id:training.id }) }}">Accéder au cours</a></td>
                <td class="text-center">{{ training.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <img src="{{ asset('build/images/buddha.jpg') }}" class="img-fluid" width="250" alt="buddha">
        </div>
    </div>
{% endblock %}
